<!-- Page Banner -->
<section class="pagebanner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bannerTitle text-left">
                    <br>
                    <h2>Repay Loan</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner -->

<!-- Common Section -->
<section class="commonSection blogPage">
    <div class="container">
        <hr>
        <h2 style="text-align: center; font-size: large;">Please Repay Your Loan And Interest Amount Through The Following Bank</h2>
        <div class="row">
            <h1>
                <p style="color: rgb(111, 5, 157);font-weight: 800;font-size: 20px; text-align: center;">
                    Scan the QR Code to repay via Paypal. Or else use the VPA : 9999988888@upi</p>
            </h1>
            <div class="col-lg-4 col-md-4">
                <div class="singleBlog">

                    <div class="blogThumb">
                        <img src="assets/img/qr.png" class="service" style="height: 327px; width: 318px;" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">

                <div class="singleBlog">

                    <div class="blogDetail">
                        <table class="table" style="border: solid rgb(179, 69, 210);color: black;">
                            <tbody>
                                <tr>
                                    <td>Company Name</td>
                                    <td> GOODSKILL SECURITIES AND SERVICES LIMITED</td>
                                </tr>
                                <tr class="success">
                                    <td>Bank Name</td>
                                    <td> NATWEST</td>
                                </tr>
                                <tr class="danger">
                                    <td>Account Number</td>
                                    <td> 34785612</td>
                                </tr>
                                <tr class="info">
                                    <td>Swift Code </td>
                                    <td>NWBKGB2128G</td>
                                </tr>
                                <tr class="warning">
                                    <td>Branch</td>
                                    <td> 116 FENCHURCH STREET BRANCH</td>
                                </tr>
                                <tr class="active">
                                    <td>Account Type</td>
                                    <td> CURRENT</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
    </div>
</section>
<br>
<p style="font-size: 20px;color: black; text-align: center;">Note - Please share a screenshot of transfer from your Bank / Google Pay/ Phone Pay / Paytm / BHIM UPI to recovery@instapproval.com</p>