<h3> View Customer Details</h3>
<div>
    <div>
        <label> <b> Name: </b></label> {{customer.username}}
    </div>
    <div>
        <label> <b> Contact: </b></label> {{customer.contact}}
    </div>
    <div>
        <label> <b> Adhaar: </b></label> {{customer.adhaar}}
    </div>
    <div>
        <label> <b> Pancard: </b></label> {{customer.pancard}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{customer.email}}
    </div>
    <div>
        <label> <b> Status: </b></label> {{customer.status}}
    </div>
    <div>
        <label> <b> Loan Amount: </b></label> {{customer.loanAmount}}
    </div>
    <div>
        <label> <b> CIBIL Score: </b></label> {{customer.cibilScore}}
    </div>
</div>
