<div class="container-fluid">
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                    <div>
                        <h1>Insta Approval</h1>
                        <br>
                        <h2>We offer customized personal loans to the salaried citizens at lowest interest rates so that you can meet all your financial needs hassle free.</h2>
                        <a href="http://localhost:4200/login" class="download-btn"><i class="bx bxl-play-store"></i> User </a>
                        <a href="http://localhost:4200/login" class="download-btn"><i class="bx bxl-apple"></i> Admin </a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="assets/img/easyloan.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>

    <main id="main">

        <!-- ======= App Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="section-title">
                    <h2>Our Values</h2>
                    <p>Crises are something that shows us the way we should deal with our lives. Those are where we figure out how to adjust our funds and life in the most composed manner.</p>
                    <p> For any Emergency, be it individual or budgetary, we ensure that you don’t settle on any field.</p>
                </div>

                <div class="row no-gutters">
                    <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                        <div class="content d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Responsible lending</h4>
                                    <p>We don’t just lend, we lend responsibly the amount we feel you can repay with ease.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Always listening
                                    </h4>
                                    <p>In order to meet your specific needs we are always open to suggestion to improve our service.
                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-images"></i>
                                    <h4>Ethical collection
                                    </h4>
                                    <p>We adopt a 100% ethical collection and recovery process. If you have any problem you can always contact us.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                    <i class="bx bx-shield"></i>
                                    <h4>24x7x365 service
                                    </h4>
                                    <p>We are just a click away. Any time any day, round the clock.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                    <i class="bx bx-atom"></i>
                                    <h4>Accountability</h4>
                                    <p>Each of us is responsible for our words, our actions, and our results.</p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                    <i class="bx bx-id-card"></i>
                                    <h4>Integrity</h4>
                                    <p>We build trust through responsible actions and honest relationships.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="assets/img/features.svg" class="img-fluid" alt="">
                    </div>
                </div>

            </div>
        </section>
        <!-- End App Features Section -->

        <!-- ======= Details Section ======= -->
        <section id="details" class="details">
            <div class="container">
                <div class="section-title">
                    <h2>Our Services</h2>
                </div>

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="assets/img/details-1.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-4" data-aos="fade-up">
                        <h3>Household Emergency Loan</h3>
                        <br>
                        <p>
                            Crises are something that shows us the way we should deal with our lives. Those are where we figure out how to adjust our funds and life in the most composed manner.</p>
                        <p>For any Emergency, be it individual or budgetary, we ensure that you don’t settle on any field.
                        </p>
                        <ul>
                            <li><i class="bi bi-check"></i> Our instant Loan is overly simple, quick, and paperless. </li>
                            <li><i class="bi bi-check"></i> You can get Emergency Instant Loan in a range of 10 minutes. and you can use the fund for household cash shortage.</li>
                            <li><i class="bi bi-check"></i> You can use the fund for household cash shortage. </li>
                        </ul>
                        <p>
                            While Emergency Instant Loan gives you the cash immediately and can be utilized just on grounds like that of individual advance, crisis credit, then again, it allows you to benefit an advance for different crisis circumstances. </p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="assets/img/details-2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Payday Loans</h3>
                        <br>
                        <p>
                            Students, Single, Men or Women who need to pay their month to month rent or utility bills like phone, electricity bill, LPG connection bill, cable or Internet bills can avail this facility in a matter of moments.
                        </p>
                        <p>
                            Payday loans are short-term, high-cost loans that are typically due by your next payday. States regulate payday lenders differently, which means your available loan amount, loan fees and the time you have to repay may vary based on where you live.
                        </p>
                        <p>
                            You get Instant loan straight into your bank account simply sitting at your homes. So next time at whatever point you are expected for your month to month expenses, apply for an instant loan and meet your financial commitments directly online.
                        </p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4" data-aos="fade-right">
                        <img src="assets/img/easyloan.gif" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5" data-aos="fade-up">
                        <h3>Loans for Urgent Medical Emergency
                        </h3>
                        <br>
                        <p>Medical issues, illness is inevitable. Medical issues cannot be avoided, and humans donot have control over this.</p>
                        <p>So, if you come across any sudden medical expenditure and you must visit your specialist yet do not likely have enough money to buy medicines or perform medical tests or scans, then there is a quick exchange which should be made.</p>
                        <p>With our financing medical emergencies, salaried professionals across top cities in India can breathe a sigh of relief. </p>
                        <p>
                            Apply for an unsecured Medical Loan upto Rs 25 Lacs for funding your medical emergency expenses or clearning medical dues.
                        </p>
                        <p>
                            Avail the facility with guaranteed zero visits to the banks or longer waiting hours.
                        </p>
                    </div>
                </div>

                <div class="row content">
                    <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                        <img src="assets/img/details-4.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                        <h3>Loans for Travel and Leisure
                        </h3>
                        <br>
                        <p>
                            Small family vacations or solo travel arrangements can be planned ahead of time or even on the spur of the moment. </p>
                        <p>Furthermore, having a little family trip or taking a break from the busy life is vital. </p>
                        <p> Planning a vacation, having the costs figured out ahead of time may make it more enjoyable.</p>
                        <p> You won't have to wait in huge lines at your bank, and you won't need any actual paperwork.
                        </p>
                        <p>
                            These occasions in our life will never come with planning, which is where we come in, where you can relax and apply for the cash you need without worrying about the situation.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Details Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>We collaborated with citizens from 10 states and more than 30 cities. Our project portfolio includes over 300 success stories, including projects for women, men, married and singles. We asked our customers what are their impressions
                        on cooperation with Insta Approval – have a look at their answers in the testimonials below.</p>
                </div>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpeg" class="testimonial-img" alt="">
                                <h3>Parijat Mondal</h3>
                                <h4>Business Head, Oriental Quarries & Mines Pvt Ltd</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>I sincerely thank Insta Approval for all of its help in refinancing my loan for our home here in Delhi. My decision of approaching them has been proved right by its
                                    prompt & ethical service. Your executive Ms. Divya was kind, courteous, organized, thorough & professional which made significant difference in the process. After shopping around for interest rates she offered me the
                                    best rate at that juncture. I am extremely happy & satisfied with the outcome, and definitely would approach Insta Approval for any future requirement. I wish them all the very best for their endeavor.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpeg" class="testimonial-img" alt="">
                                <h3>Ashutosh Sharma</h3>
                                <h4>Regional Manager, International Financial Institutions Gr</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>Thanks for your quick support. Your team understood my customized needs in detail during first interaction itself. Due to my travel plan and urgent need, they arranged
                                    the loan within record time. Didn't believe that third party can influence the banks to bring such a quick turnaround. Will recommend Insta Approval anytime, your well-trained staff know how to take care of clients
                                    quite well. Rating 5 out of 5 on performance, turn around and execution. Look forward to future business.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpeg" class="testimonial-img" alt="">
                                <h3>Ritayan Banerjee</h3>
                                <h4>Head-Research, Tata Consultancy Services</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i> I would like to take this opportunity to thank you and your team for the help and support you have extended in getting my loan approved. I sincerely appreciate the
                                    effort that your team undertook and is extremely pleased with their responsiveness, timeliness, service quality, courteous behaviour and the professionalism with which my case was handled. The success of my case goes
                                    to show the rich experience that your team possess. I wish you and your team all the very best.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</div>